.App {
  text-align: center;
}

.Title {
  font-size: 1.5rem;
}

.Button_Row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}

.Button {
  background-color: #282c34;
  border: none;
  color: white;
  width: 10rem;
  height: 3rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left: 1rem;
  margin-right: 1rem;
}